<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
<!--    Слздание бинов через Джава Аннотации-->
    <context:component-scan base-package="ru.beganov.springcourse"/>

    <!--    Создание бинов через XML-->
    <!--    <context:property-placeholder location="classpath*:musicPlayeer.properties"/>-->
    <!--    <bean id="musicBean"-->
    <!--          class="ru.beganov.springcourse.ClassicalMusic"-->
    <!--          init-method="doInit"-->
    <!--          destroy-method="doDestroy"-->
    <!--          factory-method="getClassicalMusic">-->
    <!--    </bean>-->
    <!--    <bean id="musicPlayeer"-->
    <!--          class="ru.beganov.springcourse.MusicPlayeer"-->
    <!--          scope="prototype">-->

    <!--        <property name="music" ref="musicBean"/>-->
    <!--        <property name="name" value="${musicPlayeer.name}"/>-->
    <!--        <property name="volume" value="${musicPlayeer.volume}"/>-->
    <!--    </bean>-->

</beans>